.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input__box {
    width: 100%;
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 20px;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
    transition: 0.2s;
}

.input__box:focus {
    box-shadow: 0 0 10px 10000px rgba(0, 0, 0, 0.2);
}

.input__submit {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 40px;
    margin: 8px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #44258e;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    transition: 0.2s;
    font-weight: bold;
}

.input__submit:hover {
    background-color: #6134cb;
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
