@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poiret+One&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c207d;
    font-family: "Inter", sans-serif;
}

.heading {
    font-family: "Poiret One", sans-serif;
    font-size: 40px;
    margin: 30px 0;
    color: white;
    z-index: 1;
    text-align: center;
    font-weight: bold;
}
